mat-toolbar {
  background: #FF7200;
  color: white;
}

mat-sidenav-container {
  height: calc(100vh - 4.0625rem);

  mat-sidenav {
    margin: 1rem;
    width: 12.5rem;
    border-right: none;
    background: #140083;
    color: white;
    padding: 1rem;
    text-align: center;
  }

  mat-sidenav-content {
    .content {
      min-height: calc(100vh - 6.125rem);
      margin: 1rem;
      margin-left: 2rem;

      display: flex;
      justify-content: center;
      align-items: flex-start;

      color: gray;
      height: auto;
    }
  }
}

