<form #f="ngForm">
  <!-- <mat-form-field>
    <mat-label>From:</mat-label>
    <input matInput [(ngModel)]="filter.from" id="from" name="from" type="search">
  </mat-form-field>
  <mat-form-field>
    <mat-label>To:</mat-label>
    <input matInput [(ngModel)]="filter.to" id="to" name="to" type="search">
  </mat-form-field> -->
  <mat-form-field appearance="standard">
    <mat-label>Code</mat-label>
    <input matInput placeholder="">
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Category</mat-label>
    <mat-select required>
      <mat-option>-- All --</mat-option>
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>

  <button
    (click)="search()"
    [disabled]="!f?.valid"
    mat-stroked-button
    color="primary"
  > <mat-icon>search</mat-icon>
  </button>
</form>
