:host{
  width: 100%;
  table {
    width: 100%;

    .mat-row {
      cursor: pointer;
      &:hover {
        .mat-cell {
          background-color: gray;
        }
      }
    }

    .mat-column-demo-position {
      width: 32px;
      border-right: 1px solid currentColor;
      padding-right: 24px;
      text-align: center;
    }

    .mat-column-demo-name {
      padding-left: 16px;
      font-size: 20px;
    }

    .mat-column-demo-weight {
      font-style: italic;
    }

    .mat-column-demo-symbol {
      width: 32px;
      text-align: center;
      font-weight: bold;
    }
  }
}
