
$primary: (
  50 : #ffeee0,
  100 : #ffd5b3,
  200 : #ffb980,
  300 : #ff9c4d,
  400 : #ff8726,
  500 : #ff7200,
  600 : #ff6a00,
  700 : #ff5f00,
  800 : #ff5500,
  900 : #ff4200,
  A100 : #ffffff,
  A200 : #fff5f2,
  A400 : #ffccbf,
  A700 : #ffb7a6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$accent: (
  50 : #e3e0f0,
  100 : #b9b3da,
  200 : #8a80c1,
  300 : #5b4da8,
  400 : #372696,
  500 : #140083,
  600 : #12007b,
  700 : #0e0070,
  800 : #0b0066,
  900 : #060053,
  A100 : #8885ff,
  A200 : #5552ff,
  A400 : #231fff,
  A700 : #0a06ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
